# Set the default behavior, in case ppl don't have core.autocrlf set
*text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# IGXL files
*.txt text
*.cls text
*.bas text
*.frm text

#Visual Studio Files
*.sln text
*.csproj text
*.vbproj text
*.cs text
*.vb text